{{#list-filter
  filter=(action 'filterByCity')
as |rentals|}}
  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li> {{rental-listing rental=rentalUnit}} </li>
    {{/each}}
  </ul>
{{/list-filter}}
