<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rental</h2>
    <p>
        Ha! Come, come, Mr. Bond, you disappoint me. You get as much fulfillment out of killing as I do, so why don't you admit it? I could have shot you down when you landed, but that would have been ridiculously easy. You see, Mr. Bond, like all great artists I want to create one indisputable masterpiece. The death of 007, mano a mano, will be mine.
    </p>
    {{#link-to 'contact' class="button"}}
        Contact
    {{/link-to}}
</div>