<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact Us</h2>
    <p>
        Super Rentals HQ
        <address>
            Jalan Kepala Pundak.<br>
            Kampuang nan Jauh Di Mato.
        </address>
        <a href="tel:4445454">+62 5556565</a><br>
        <a href="mailto:jauh@dimaton.com">jauh@dimato.com</a>
    </p>
    {{#link-to 'about' class="button"}}
        About
    {{/link-to}}
</div>
